{
  "API": "",
  "CaseCode": "Off",
  "Dependencies": [
  ],
  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
  ],
  "KeepHistory": "Off",
  "OnApplicationStartup": "",
  "OnBuild": "",
  "ProjectSpace": "#.ProjAAA",
  "StartUp": "",
  "URL": "https://github.com/PaulMansour/ProjAAA",
  "Variables": "Off",
  "Version": "0.0.0"
}
